@model IEnumerable<Kurumsal.Models.Hizmet>
@using GridMvc.Html
@{
    ViewBag.Title = "AramaYap";
}

<div class="intro intro-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">

                <h2 class="intro-title mb-4">Bulunan Ürünler</h2>

                <ol class="breadcrumb d-flex justify-content-center">

                    <li class="breadcrumb-item"><a href="/Urunler">Ürünler</a></li>
                    <li class="breadcrumb-item active">Arama Sonucu</li>

                </ol>
            </div>
        </div>
    </div>
</div>


<div class="py-5">

    @if (ViewBag.Notfound == null)
    {
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(m => m.HizmetKategori.HizmetKategoriAdi).Titled("Kategori Adı");

            columns.Add(m => m.Baslik).Titled("Başlık").Sanitized(false).Encoded(false).RenderValueAs(m => Html.ActionLink(m.Baslik, "Hizmet", "Home", new { id = m.HizmetId }, null).ToHtmlString());

            columns.Add(m => m.UrunKodu).Titled("Ürün Kodu");


        }).WithPaging(6)
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12 text-center mt-80">
                    <h3 id="notfound">@ViewBag.Notfound</h3>
                    <a href="/urunler" class="btn btn-primary m-4">Anasayfa'ya Dön</a>
                </div>
            </div>
        </div>
    }
</div>