@model IPagedList<Kurumsal.Models.Hizmet>
@using PagedList;
@using PagedList.Mvc;
@using Kurumsal.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="general" style="background-color:white;">
    <div class="avds">
        <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">

            <div class="avds_largex">
                <div class="avds_background" style="background-image: url('../../Content/images/home_slider_1.jpg');"></div>
                <div class="avds_large_container">
                    <div class="avds_large_content">
                        <div class="avds_title">Professional Cameras</div>
                        <div class="avds_text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a
                            ultricies metus. Sed nec molestie eros. Sed viver ra velit venenatis fermentum luctus.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="avds">
    <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
        <div class="avds_small">
            <div class="avds_background" style="background-image:url('../../Content/images/avds_small.jpg')"></div>
            <div class="avds_small_inner">
                <div class="avds_small_content">
                    <div class="avds_title">Smart Phones</div>
                </div>
            </div>
        </div>
        <div class="avds_large">
            <div class="avds_background" style="background-image:url('../../Content/images/avds_large.jpg')"></div>
            <div class="avds_large_container">
                <div class="avds_large_content">
                    <div class="avds_title">Professional Cameras</div>
                    <div class="avds_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a
                        ultricies metus. Sed nec molestie eros. Sed viver ra velit venenatis fermentum luctus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ürünler -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="product_grid">

                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="product_image"><img src="@item.ResimURL" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="/UrunPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.HizmetId">@item.Baslik</a></div>
                                <div class="product_price">@item.Aciklama</div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<div class="avds_xl">
    <div class="container">
        <div class="pagination-container">
            <div class="pagination">
                <span class="pagination-inner">
                    @Html.PagedListPager(Model, Sayfa => Url.Action("Hizmet", new {  Sayfa }), PagedListRenderOptions.PageNumbersOnly)

                </span>
            </div>
        </div>
    </div>
</div>



<!-- Icon Boxes -->

<div class="icon_boxes">
    <div class="container">
        <div class="row icon_box_row">

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="Content/images/icon_1.svg" alt=""></div>
                    <div class="icon_box_title">Free Shipping Worldwide</div>
                    <div class="icon_box_text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.
                            Sed nec molestie.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="Content/images/icon_2.svg" alt=""></div>
                    <div class="icon_box_title">Free Returns</div>
                    <div class="icon_box_text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.
                            Sed nec molestie.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="Content/images/icon_3.svg" alt=""></div>
                    <div class="icon_box_title">24h Fast Support</div>
                    <div class="icon_box_text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.
                            Sed nec molestie.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>