@model IEnumerable<Kurumsal.Models.Hizmet>
@using Kurumsal.Helper;
@{
    ViewBag.Title = "KategoriHizmet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products margintopxx">
    <div class="container">

        <h1 class="mb-5">Kategori Adı</h1>

        <div class="row">
            <div class="col">

                <div class="product_grid">

                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="product_image"><img src="@item.ResimURL" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="/UrunPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.HizmetId">@item.Baslik</a></div>
                                <div class="product_price">@item.Aciklama</div>
                            </div>
                        </div>
                    }   

                </div>

            </div>
        </div>
    </div>
</div>