
@{
    ViewBag.Title = "LaleliSube";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="contact margintopx">
        <div class="container">
            <div class="row justify-content-center">

                <div class="container">
                    <div class="row justify-content-center">
                        <div>
                            <p class="text-uppercase" style="font-size: 20px;text-decoration:underline;margin-bottom :25px;">
                                Laleli Şube
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img width="90%" src="~/Content/images/DarkMode.jpg" />

                            </div>
                            <div class="container">
                                <p class="col-lg-12 text-justify mt-5" style="font-size: 18px;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates et explicabo consectetur, eius
                                    nihil necessitatibus assumenda velit ut dicta tempore dolores fugiat, sit exercitationem cum maiores?
                                    Libero iure doloribus officiis voluptas maiores voluptates ad amet commodi, provident incidunt
                                    repellendus, itaque voluptatum temporibus laboriosam tempore dolore iusto soluta quis consequuntur?
                                </p>

                                <div class="row mt-5">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-3 p-4" style="background-color: aliceblue">
                                        <h5>Adres</h5>
                                        <p>
                                            Cevatpaşa Mahallesi 100. Yıl Caddesi No 16 / Bayrampaşa / İstanbul
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-3 p-4" style="background-color: aliceblue">
                                        <h5>İletişim</h5>
                                        <p>
                                            <a href="#">+90 212 537 34 55</a>  / <a href="#">+90 212 537 34 54</a> / <a href="#">+90 532 301 88 00</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="container">

                                <div class="row map_row justify-content-center">
                                    <div class="col-lg-10" style="border :1px solid black">

                                        <!-- Google Map -->
                                        <div class="map">
                                            <div id="google_map" class="google_map">
                                                <div class="map_container">
                                                    <div id="map">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.8738114966745!2d28.9596749153741!3d41.006135079300996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab98506813349%3A0x87e6e9527ad399fe!2zTmnFn2FuY2EsIE1hYmV5aW5jaSBZa8WfLiBObzozMiwgMzQxMzAgRmF0aWgvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1591364800876!5m2!1str!2str" width="1500" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>